################### {Beat} Configuration Example #########################

############################# {Beat} ######################################

discordhistorybeat:
  token: "INSERT-TOKEN-HERE"
  startID: "0"
  guildID: "INSERT-ID-HERE"
